doctype html
html(lang='en')
    head
    title Home
    body
        h1 Why use Relievely?
        p Stress is very bad for you if left unchecked,because of this, it's a good idea to take a few moments of your day to reduce stress.
        p Read more
