doctype html
head
    style
        include ../public/dist/style.css
        include https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css


html(lang='en')

body
    div(class='bg-img')
        div(class='box')
            span(class='icon-text')
                span(class='icon'): i(class='fas fa-arrow-right')
                span settings
        div(class='box')
            hi
        div(class='box')
            hi
